$background-body: rgb(245,245,245); 

$header-opacity: .9;
$header-background-top: rgba(255,255,255,1);
$header-background-bottom: rgba(255,255,255,$header-opacity);
$header-accent-color: rgb(150,50,50);

$shadow-color: rgb(135,135,135);

$icons: 'icons';
$main-font: 'Titillium Web';