@mixin header-background {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC45Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  $header-background-top 0%, $header-background-bottom 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$header-background-top), color-stop(100%,$header-background-bottom)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $header-background-top 0%,$header-background-bottom 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $header-background-top 0%,$header-background-bottom 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $header-background-top 0%,$header-background-bottom 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $header-background-top 0%,$header-background-bottom 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6ffffff',GradientType=0 ); /* IE6-8 */
}

header {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	@include header-background;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #ccc;
	// box-shadow: 0px 0px 30px 5px #f2f2f2;

	@media (max-width: 800px) {
		border-bottom: none;
		position: absolute;

		.row {
			width: 95%;
		}
	}

	.logo {
		position: absolute;
		padding: 0 3px 3px 3px;
		top: -4px;
		left: -20px;
		background: $header-accent-color;
		border-radius: 0 0 5px 5px;
		box-shadow: 0 0 5px $shadow-color;
		transition: top 100ms;

		&:hover {
			top: 0;				
		}

		&:active {
			box-shadow: none;
		}

		@media (max-width: 800px) {
			left: 0px;
		}

		@media (max-width: 480px) {
			width: 22%;
			text-align: center;
			transition: none;

			&:hover {
				top: -4px;
			}
		}

		a {
			font-size: 24px;
			line-height: 1em;
			color: $background-body;
			text-decoration: none;
			display: block;
			padding: 21px 17px 17px;
			border-radius: 0 0 5px 5px;
			border-right: 1px dashed #ccc;
			border-bottom: 1px dashed #ccc;
			border-left: 1px dashed #ccc;
			
			@media (max-width: 480px) {
				font-size: 20px;
				padding: 16px 12px 12px;
			}

		}
	}

	nav {
		float: right;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: block;
				float: left;
				position: relative;
				border-left: 1px solid #ccc;

				&:last-child {
					border-right: 1px solid #ccc;
				}
				
				// &.nav-active:after {
				// 	display: block;
				// 	content: "";
				// 	position: absolute;
				// 	left: 0;
				// 	bottom: -2px;
				// 	width: 100%;
				// 	height: 4px; 
				// 	background: $header-accent-color;
				// 	border-radius: 2px;
				// }
				
				a {
					display: block;
					padding-top: 6px;
					padding-bottom: 36px;
					padding-right: 20px;
					padding-left: 20px;
					text-decoration: none;
					color: rgba(0,0,0,.5);
					font-size: .625em;
					transition: color 300ms ease-in;

					&:before {
						display: block;
						width: 100%;
						position: absolute;
						bottom: 14px;
						left: 0;
						text-align: center;
						content: attr(data-icon);
						font-family: $icons;
						font-size: 2.25em;
					}
				}

				&.nav-active a {
					color: rgba(0,0,0,1);
					border-bottom: 4px solid $header-accent-color;
					padding-bottom: 32px;
				}

				a:hover {
					color: rgba(0,0,0,1);
				}

			}
		}

		@media (max-width: 480px) {
			// border: none;
			// @include header-background;
			// margin-top: 13px;
			// box-shadow: 0px 0px 5px 0px #ccc;
			// border-radius: 3px;
			// overflow: hidden;
			// float: right;

			ul li {
				
				&:last-child {
					border-right: none;
				}

				a {
					padding-top: 4px;
					padding-bottom: 38px;
					padding-right: 16px;
					padding-left: 16px;
					font-size: .625em;
					transition: none;

					&:before {
						display: block;
						width: 100%;
						position: absolute;
						bottom: 16px;
						left: 0;
						text-align: center;
						content: attr(data-icon);
						font-family: $icons;
						font-size: 2.5em;
					}
				}

				&.nav-active a {
					border-bottom: 4px solid $header-accent-color;
					padding-bottom: 34px;
				}
			}
		}

	}
}